:root {
  --hue: 200;
  --light: #fdfdfd;
  --dark: #222;
  --border-radius: 0.5rem;
  --shadow: #333;
  --horizontal-padding: max(5vh, calc(50% - 33rem));
  --header-padding:  2.5rem;
  --primary-bg: linear-gradient(
			45deg,
			hsl(var(--hue), 90%, 20%),
			hsl(var(--hue), 90%, 30%),
			hsl(var(--hue), 90%, 20%)
		);
  --outer-padding: max(1rem, 2vh);
  --box-shadow: 0 0.25rem 1rem hsla(var(--hue), 100%, 10%, 0.2);
 	--primary-bg-radial: radial-gradient(
		farthest-side at 90% 50%,
		hsl(var(--hue), 90%, 25%),
		hsl(var(--hue), 90%, 5%));
}

html {
	height: 100%;
	width: 100vw;
}
 
img {
	border-radius: var(--border-radius);
}

body {
	font-family: sans-serif;
	font-size: clamp(1rem, 0.9375rem + 0.3125vh, 1.5rem);
	margin: 0;
	line-height: 1.5;
}

nav {
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	color: var(--dark);
	font-size: 125%;
	height: fit-content;
	padding: var(--outer-padding);
	border-bottom: 1px;
}

#links {
	justify-content: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: center;
}

span#links {}

#links img {
	height: 32px;
	width: 32px;
}

#links a {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

nav a {
	font-weight: bolder;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

h1 {
	text-underline-offset: 1rem;
	text-decoration: underline solid hsl(var(--hue), 90%, 37.5%) 0.1rem;
	-webkit-text-decoration-line: underline;
	-webkit-text-decoration-style: solid;
	-webkit-text-decoration-color: hsl(var(--hue), 90%, 37.5%);
	-webkit-text-decoration-thickness: 0.1rem;
	margin: 0;
	text-align: center;
	padding: 2rem;
}

a {
	color: inherit;
}

#home {
	background: hsl(var(--hue), 100%, 70%);
	border-radius: var(--border-radius);
	display: flex;
	height: 50px;
	width: 50px;
	justify-content: center;
	align-items: center;
}

#home img {
	height: 46px;
	width: 46px;
}

html,body {
	height: 100%;
	background: var(--light);
}

main, #customer-benefits, .service, #about, #contact {
	padding-left: var(--horizontal-padding);
	padding-right: var(--horizontal-padding);
}

body {
	background: var(--light-bg);
	position: relative;
}

#hero {
	box-sizing: border-box;
	height: 100vh;
	display: flex;
	flex-direction: column;
	color: white;

	background-image: url("img/hero.webp");
	/* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.cta {
	background: hsl(var(--hue), 100%, 35%);
	text-decoration: none;
	border-radius: var(--border-radius);
	padding: 1.5rem;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 125%;
	color: white;
	text-align: center;
	margin-top: 2.5rem;
}

main {
	display: flex;
	flex-direction: column;  
	align-items: center;
	justify-content: center;
	width: 100%;
	color: white;
	text-align: center;
	box-sizing: border-box;
	height: 100%;
	background: linear-gradient(180deg, #00000000, #0000007f)
}

main h1 {
	padding: 0;
	text-decoration: none;
}

main h1 {
  text-shadow: 
		1px	0	0 var(--shadow),
		0 -1px 0 var(--shadow),
		0 1px 0 var(--shadow),
		-1px 0 0 var(--shadow);
}

main h1 span {
	white-space: nowrap;
	color: hsl(var(--hue), 100%, 55%);
}

main p {
	max-width: 40rem;
	
	font-size: 125%;
}

#about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.25rem;
	padding-left: 0;
	padding-right: 0;
	transition: opacity 0.4s ease-in-out;
	padding: var(--horizontal-padding);
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#about img {
	max-height: 334px;
	max-width: 387px;
	width: auto;
	height: auto;
	justify-self: center;
}

#about div {
	display: flex;
	justify-content: space-around;
	flex-flow: wrap;
	width: 100%;
}

#about section {
	align-self: start;
	max-width: 32rem;
	font-size: 112.5%;
}

#cards {
	display: flex;
	flex-flow: row wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-bottom: 2rem;
}

#cards section {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 15rem;
	max-width: 24rem;
	height: auto;
	background: var(--light);
	margin: 1rem;
	color: var(--dark);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	padding: 1.5rem 1rem;
}

#cards section img {
	height: 200px;
	width: 200px;
}

#cards section h2 {
	margin: 0;
}

#cards section span {
	padding-bottom: 0.5rem;
	text-align: center;
}

blockquote {
	font-style: italic;
	width: 90%;
}

#customer-benefits {
	background: var(--light);
	color: var(--dark);
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	justify-content: center;
	flex-flow: wrap;
}


#customer-benefits img {
	height: 64px;
	width: 64px;
}

#customer-benefits section {
	max-width: 16rem;
	padding: 2rem;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 1rem;
	margin-bottom: 1rem;	
	text-align: center;
	font-size: 112.5%;
}

#customer-benefits section h2 {
	font-size: 125%;
}

#services {
	display: flex;
	flex-direction: column;
	background: var(--light);
}

#services h1 {
	align-self: center;
	width: fit-content;
}

.service {
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	align-items: center;
	background: var(--primary-bg);
	color: var(--light);
	padding-top: min(5rem, 5vw);
	padding-bottom: min(5rem, 5vw);
	font-size: 112.5%;
}

.service:nth-child(3) {
	background: var(--light);
	color: var(--dark);
	flex-direction: row-reverse;
}

.service:nth-child(3) img {
	filter: invert(0);
}

.service img {
	height: 127px;
	width: 127px;
	filter: invert(0.95);
	align-self: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.service section {
	max-width: 32rem;
}

.service section h2 {
	margin: 0;
}

#contact {
	background: var(--primary-bg-radial);
	color:  var(--light);
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: center;
	padding-bottom: 2.5rem;
	text-align: center;
	font-size: 137.5%;
	height: 90vh;
}

#contact h1 {
	text-decoration: none;
}

#contact section p {
	margin: 0;
}

address {
	color: black;
	background: var(--light-bg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: start;
	justify-self: start;

}

address a {
	font-weight: bold;
	 color: hsl(var(--hue), 100%, 80%); 
}

.social {
	display: flex;
	flex-direction: column;
	
	color: var(--light);
	align-items: center;
	border: 0.125rem solid;
	border-radius: var(--border-radius);
	padding: 1rem;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	width: 100%;
}

.social h2 {
	font-size: 125%;
}

.social img {
	height: 50px;
	width: 50px;
	padding-bottom: 1rem;
	filter: invert(95%);
}

footer {
	text-align: center;
	font-style: italic;
	padding: 2rem;
}
