:root {
	--primary: hsl(190, 100%, 25.5%);
  --darkest-grey: #222;
  --grey: hsl(190, 0%, 90%);;
  --lightest-grey: #fff;
}

body {
	font-size: 1.05rem;
}

body, a {
	color: var(--darkest-grey);
}

h1, h2 {
	padding-bottom: 0.5em;
	border-bottom: 1px solid #aaa;
}

nav {
	border-bottom: 1px solid var(--grey);
}

nav, img {
	box-sizing: border-box;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
}

nav a {
	text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav {
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: larger;
	overflow: hidden;
}

#links {
	text-align: left;
}

#links a {
	padding: 0.2em;
}

#home {
	font-weight: bolder;
}

html {
	height: 100%;
}

blockquote {
	font-style: italic;
}

/** Other */

h1, h2, h3, ul {
	width: 100%;
	margin: 2.5%;
}

main {
	padding-left: max(64px, calc(50% - 360px));
	padding-right: max(64px, calc(50% - 360px));
	line-height: 1.375;
}

main a {
	font-weight: bold;
}

nav {
	padding-left: 64px;
	padding-right: 64px;
}

@media screen and (max-width: 1024px) {
	main {
		padding-left: 64px;	
		padding-right: max(64px, calc(100% - 720px - 64px));
	}
}

@media screen and (max-width: 640px) {
	main, nav {
  	padding-left: 32px;
		padding-right: 32px;
  }
}

body {
	font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0em;
	height: 100%;
}

main {
	padding-top: 2rem;
	padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header, div {
	width: 100%;
}

h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 125%; }

header, div, p {
	width: 100%;
}

.contact {
	font-size: 120%;
	padding-bottom: 0.5em;
}

.icon {
	font-size: larger;
	display: inline-block;
	text-align: center;
	width: 1em;
}

img {
	border-radius: 5px;
	max-width: 100%;
}

#date {
	font-style: italic;
  text-align: right;
}
