:root {
	--primary: hsl(200, 100%, 25.5%);
  --darkest-grey: hsl(200, 50%, 5%);
  --grey: hsl(200, 0%, 90%);;
  --lightest-grey: #fff;
}

html {
	height: 100%;
}

img {
	border-radius: 2px;
	max-width: 100%;
}

img, nav {
	box-sizing: border-box;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
}

blockquote {
	font-style: italic;
}

h1, h2, h3, ul {
	width: 100%;
	margin: 2.5%;
}

h1 { font-size: 180%; }
h2 { font-size: 135%; }
h3 { font-size: 120%; }

header, div, p {
	width: 100%;
}

body {
	font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0em;
	height: 100%;
}

body, a {
	color: var(--darkest-grey);
}

nav {
	border-bottom: 1px solid var(--grey); 
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	background: white;
	
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 64px;
	padding-right: 64px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: larger;
	overflow: hidden;
}

nav a {
	text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
	padding-left: max(64px, calc(50% - 360px));
	padding-right: max(64px, calc(50% - 360px));
	padding-top: 2rem;
	padding-bottom: 2rem;
  
	display: flex;
  flex-direction: column;
  align-items: center;

	line-height: 1.375;
}

main a {
	font-weight: bold;
}

#links {
	text-align: left;
}

#links a {
	padding: 0.5em;
	padding-right: 0em;
}

#home {
	display: flex;
	justify-content: center;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 1024px) {
	main {
		padding-left: 64px;	
		padding-right: max(64px, calc(100% - 720px - 64px));
	}
}

@media screen and (max-width: 640px) {
	main, nav {
  	padding-left: 32px;
		padding-right: 32px;
  }
}

.contact {
	font-size: 120%;
	padding-bottom: 0.5em;
}

.icon {
	font-size: larger;
	display: inline-block;
	text-align: center;
	width: 1em;
}

#date {
	font-style: italic;
  text-align: right;
}
