:root {
	--primary: hsl(200, 100%, 37.5%);
	--bg: hsl(200, 50%, 20%);
	--fg: hsl(20, 10%, 95%);
	--nav-border: hsl(200, 25%, 90%);
	--section-border: hsl(200, 25%, 75%);
	--lightest-grey: #fff;
}

html {
	height: 100%;
}

body {
	font-family: Garamond, serif;
	font-size: 1.1em; 
 	line-height: 1.5;
	background: linear-gradient(var(--bg), #030303); 
	background-attachment: fixed;
	/* background: radial-gradient(circle, whitesmoke, var(--bg)); */
	margin: 0em;
	height: 100%;
}

img {
	border-radius: 2px;
	max-width: 100%;
}

img, nav {
	box-sizing: border-box;
	box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
}

blockquote {
	font-style: italic;
}

h1, h2, h3, ul {
	width: 100%;
}

h1, h2, h3 {
	margin: 0;
}

h1, h2 {
	font-variant: small-caps;
}

h1 { 
	font-size: 160%;
	margin: 0.5rem 0 0.5rem 0;
	text-align: center;
}

h2 { 
	font-size: 145%; 
	margin: 0.5rem 0 0.25rem 0;
}

h3 { 
	font-size: 110%; 
	margin: 0.5rem 0 0.25rem 0;
}

header, div, p {
	width: 100%;
}


body, a {
	color: var(--fg);
}

nav {
	border-bottom: 1px solid var(--nav-border); 
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	background: var(--bg);
	z-index: 9999; /* meters stick through otherwise */

	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 32px;
	padding-right: 32px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: larger;
	overflow: hidden;
}

nav a {
	font-variant: small-caps;
}

nav a:hover {
	text-decoration: underline;
}

main {
	padding-left: max(64px, calc(50% - 360px));
	padding-right: max(64px, calc(50% - 360px));
	padding-top: 2rem;
	padding-bottom: 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}

main a {
	font-weight: bold;
}

hr {
	border: 1px solid var(--section-border);
	width: 100%;
	margin: 1rem 0 1rem 0;
}

p, ul {
	margin: 0.16em 0 0.16em 0;
}

dl {
	text-align: left;
	width: 100%;
	margin: 0.5em 0 0.5em 0;
}

dt {
	float: left;
	clear: left;
	text-align: left;
	font-weight: bold;
}

dd {
	text-align: left;
	margin: 0 0 0 6.4em;
}

table {
	width: 100%;
	padding: 0;
	border: 1px solid var(--fg);
}

thead {
	text-align: left;
}

td, th {
	padding: 0.25em;
}

meter::-webkit-meter-optimum-value {
  background-color: var(--primary);
}

#links {
	text-align: left;
}

#links a {
	padding: 0.5em;
	padding-right: 0em;
}

#home {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

@media screen and (max-width: 1024px) {
	main {
		padding-left: 50px;	
		padding-right: max(50px, calc(100% - 720px - 50px));
	}
}

@media screen and (max-width: 640px) {
	main, nav {
		padding-left: 16px;
		padding-right: 16px;
	}
}

.contact {
	font-size: 120%;
	padding-bottom: 0.5em;
}

.icon {
	font-size: larger;
	display: inline-block;
	text-align: center;
	width: 1em;
}

#date {
	font-style: italic;
	text-align: right;
}
