<% for (let link of links) { %>
  <div class="blog-entry">
    <a href="<%= link.url %>" >
      <%= link.title %>
    </a>
    <span class="blog-date">
      <%= link.date.toLocaleDateString('en-NZ', { day: 'numeric', month: 'short', year: 'numeric' }) %>
    </span>
  </div>
<% } %>
